backend/.env
.idea/
backend/backend/__pycache__/


*.pyc
/backend/db.sqlite3
.DS_Store
.env
*/settings/local.py
/staticfiles/*
/mediafiles/*
__pycache__/
/.vscode/

# pycharm
.idea/

# data
*.dump

# npm
node_modules/
npm-debug.log

# Webpack
/frontend/bundles/*

# General
/venv/
/env/
/output/
/cache/

.direnv
.envrc
.tool-versions
